/* outra abordagem */
:root {
    /* Cores principais */
    --primary-color: #6F2282; /* Roxo */
    --secondary-color: #eee; /* Cinza claro */
    --highlight-color: #FCBA5A; /* Amarelo claro */
    --background-color-01: #555555; /* Cinza escuro */
    --background-color-02: #FCBA5A; /* Amarelo claro */
    --background-color-03: #6F2282; /* Roxo */

    /* Cores de texto */
    --text-color-01: #6F2282; /* Roxo */
    --text-color-02: #eee; /* Cinza claro */
    --text-color-03: #fff; /* Branco */
    --text-color-04: #000; /* Preto */
    --highlight-text-color: #FCBA5A; /* Amarelo claro */
    --box-text-color: white; /* Branco */

    /* Cores de borda e linhas */
    --border-color-01: orange; /* Laranja */
    --border-color-02: #fff; /* Branco */
    --line-color-01: #BBBBBB; /* Cinza médio */
    --line-color-02: #000; /* Preto */
    --line-color-03: #6F2282; /* Preto */

    /* Cores de links */
    --link-color: #000; /* Preto */
    --summary-link-color: #007bff; /* Azul */
    --summary-link-hover-color: underline; /* Sublinhado */

    /* Cores de fundo */
    --grid-item-bg: aqua; /* Água */
    --card-bg: #6F2282; /* Roxo */
    --card-box-bg: #eeeeee; /* Cinza claro */
    --recapitulando-bg-color: #333333; /* Cinza muito escuro */
    --summary-bg: rgba(255, 255, 255, 0.9); /* Branco translúcido */

    /* Cores de elementos */
    --span-color: #FCBA5A; /* Amarelo claro */
    --nome-color: #FCBA5A; /* Amarelo claro */
    --card-text-color: #eee; /* Cinza claro */
    --card-content-color: #000000; /* Preto */
    --credito-bg-color: #ffffff; /* Branco */
    --section-title-color: #eee; /* Cinza claro */
    --person-cargo-color: #B0B0B0; /* Cinza claro */
    --header-bg-color: #eee; /* Cinza claro */

    /* Cores específicas */
    --formalaranja-bg: #531961; /* Roxo escuro */
    --boxcinza-bg: rgba(188, 194, 194, 0.925); /* Cinza translúcido */
    --accessibility-bg: #fff; /* Branco */
    --accessibility-border: #ccc; /* Cinza claro */
    --accessibility-box-shadow: rgba(0, 0, 0, 0.1); /* Sombra preta leve */
    --accessibility-button-bg: #007bff; /* Azul */
    --accessibility-button-hover-bg: #0056b3; /* Azul escuro */
    --summary-border-left: #ccc; /* Cinza claro */
    --summary-border-bottom: #ccc; /* Cinza claro */
    --summary-box-shadow: rgba(0, 0, 0, 0.1); /* Sombra preta leve */
    --summary-button-bg: #ff0000; /* Vermelho */
    --summary-button-hover-bg: #cc0000; /* Vermelho escuro */
    --button-color: #fff; /* Branco */
    --timebar-bg: #00000080; /* Preto translúcido */
    --slider-bg: #ffffff; /* Branco */
    --Boxtimebar-bg: #c32fe410; /* Translúcido */
}